<div class="pagination">

    <% if (page.prev || page.next) { %>
    <% if (page.prev){ %>
    <a href="<%- config.root %><%- page.prev.path %>" type="button" class="btn btn-default"><i
                class="fa fa-arrow-circle-o-left"></i> <%= __('prev') %></a>
    <% } else { %>
    <a type="button" class="btn btn-default disabled"><i class="fa fa-arrow-circle-o-left"></i><%= __('prev') %></a>
    <% } %>

    <a href="<%- config.root %>" type="button" class="btn btn-default"><i class="fa fa-home"></i>Home</a>
    <% if (page.next){ %>
    <a href="<%- config.root %><%- page.next.path %>" type="button" class="btn btn-default "><%= __('next') %><i
                class="fa fa-arrow-circle-o-right"></i></a>
    <% } else { %>
    <a type="button" class="btn btn-default disabled"><%= __('next') %><i class="fa fa-arrow-circle-o-right"></i></a>
    <% } %>

    <% } %>
</div>
